/* Denna fil får du editera för att lösa uppgiften. Du får INTE ändra i html-filen. */
#container {max-width:860px;height:100%; border:1px solid black;}
#topbar {background-image:url("../css/pics/coffey.jpg");
        background-repeat:no-repeat;
        background-position:center;
        background-size:860px 200px;
        background-color:#4C402F;
        border:1px solid black;height:250px;
}

/*Navigation start*/
#menu {margin:0;
       width:100%;
       position:absolute;
       left:0;
       top:210px;
       margin:0;
}
#menu li   {display:inline; list-style-type:none;}
#menu li a {display:block; 
           text-decoration:none;
           float:left;
           padding:1%;
           height:10px;
           width:80px;
           text-transform:capitalize;
           text-align:center;
           font-size:1em;
           background-color:#7A7455;
           border-right: 1px solid;
           border-color:#4C402F;
}
#menu a:link {color:#FFFFFF;}
#menu a:visited {color:#;}
#menu a:focus {color:#;}
#menu a:hover{background:#8E917A;}
#menu a:active{color:#7A7A66;}
#menu a {display:none;}

/*Innehålls del 1*/
#content {width:860px; margin:0; height:auto;background-color:#DBD4BA;}
#maincontent {float:left;
             width:420px;
             height:100%;}
#maincontent h1 {color:#7A7455;font-family:"Times New Roman","Verdana" sans-serif;
    font-size:2em;margin:10px;}
#maincontent p {color:#7A7455;font-family:"Times New Roman","Verdana" sans-serif;
                font-size:1em;margin:10px;}
img {float:left; margin:10px;}

/*Innehållsdel 2*/
#subcontent {border-left:1px dashed;
             border-color:#7A7455;
             float:left;
             width:430px;
             margin:20px 0 0 5px;
             height:400px;
             }
#subcontent ul {list-style-type:none;margin:0;}
#subcontent h1 {color:#7A7455;font-family:"Times New Roman","Verdana" sans-serif;
                font-size:1.1em;margin:10px 10px 0;}
#subcontent p {color:#7A7455;font-family:"Times New Roman","Verdana" sans-serif;
              font-size:0.8em;margin:15px 10px 70px}
h2 {color:#7A7455;font-family:"Times New Roman","Verdana" sans-serif;
   font-size:0.8em;margin:0 10px;}







